body {
  background-color:red;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 10px;
}
p {
  font-size: 25px;
  font-family: "Time New Roman", Times;
  text-align: center;
  color: black;
}
h1,h2,h3,h4,h5,li{
  padding:.45%;
  text-align:center;
  margin-left: 15%;
  margin-right: 15%
}
img {
  display: block;
  width: 50%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
}
video {
  width:auto;
  height:auto;
  display: inline;
}
footer {
  font-size:10px;
  color: black;
}
map { 
    width: 350px; 
    height: 200px;
    margin-right: 20px;
  }
