body {
  background-color:red;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 10px;
}
p {
  font-size: 25px;
  font-family: "Time New Roman", Times;
  text-align: center;
  color: black;
}
h1 {
  font-size:40px;
  text-align: center;
  font-family: "Time New Roman", Times;
  color:orange;
}
h2 {font-size:40px;
  font-family: "Time New Roman", Times;
  text-align: center;
  color:orange;
}
h3 {font-size:40px;
  font-family: "Time New Roman", Times;
  text-align: center;
  color:orange;
}
h4 {font-size:40px;
  font-family: "Time New Roman", Times;
  text-align: center;
  color:orange;
}
h5 {font-size:40px;
  font-family: "Time New Roman", Times;
  text-align: center;
  color:orange;
}
h6 {font-size:40px;
  font-family: "Time New Roman", Times;
  text-align: center;
  color:orange;
}
img {
  display: block;
  width: 50%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
}
video {
  width:auto;
  height:auto;
  display: inline;
}
footer {
  font-size:10px;
  color: grey;
}
.nav {
  text-align: center;
  color: orange;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Times;
  background-color:black;
}
.nav ul li {
  display:inline;
}
.nav ul {
    list-style-type: none;
  padding: 0;
}
